In [1]:
from pymongo import MongoClient

#Creating of MongoClient object

client = MongoClient('mongodb://127.0.0.1:27017/')

#Acceessing database
mydatabase = client['Stuents']

In [2]:
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('66fbc87bd9444eea61d5ce28'), ObjectId('66fbc87bd9444eea61d5ce29'), ObjectId('66fbc87bd9444eea61d5ce2a'), ObjectId('66fbc87bd9444eea61d5ce2b'), ObjectId('66fbc87bd9444eea61d5ce2c'), ObjectId('66fbc87bd9444eea61d5ce2d')], acknowledged=True)

In [4]:
#Grouping and Agrr

# Find Amit and Krish total subjects

agg_res = collection.aggregate(
    [{
    "$group":
        {"_id":"$user", 
         "Total Subject":{"$sum":1}
         }
    }]
)

for i in agg_res:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [5]:
# Calculating the total Score based on user

agg_res = collection.aggregate(
    [{
    "$group":
        {"_id":"$user",
         "Total Score":{"$sum":"$score"}
         }
    }]
)

for i in agg_res:
    print(i)

{'_id': 'Krish', 'Total Score': 250}
{'_id': 'Amit', 'Total Score': 235}

In [6]:
# Avg score based on user

agg_res = collection.aggregate(
    [{
    "$group":
        {"_id":"$user",
         "Avg Score":{"$avg":"$score"}
         }
    }]
)

for i in agg_res:
    print(i)

{'_id': 'Krish', 'Avg Score': 83.33333333333333}
{'_id': 'Amit', 'Avg Score': 78.33333333333333}

In [8]:
import datetime as datetime

In [9]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

C:\Users\BairaM\AppData\Local\Temp\ipykernel_23740\1712232565.py:2: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
C:\Users\BairaM\AppData\Local\Temp\ipykernel_23740\1712232565.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
C:\Users\BairaM\AppData\Local\Temp\ipykernel_23740\1712232565.py:4: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
C:\Users\BairaM\AppData\Local\Temp\ipykernel_23740\1712232565.py:5: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
C:\Users\BairaM\AppData\Local\Temp\ipykernel_23740\1712232565.py:6: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [10]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [11]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

##### $project

In [12]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [13]:
# Access collection of the database  
collection=mydatabase['Books']  
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [14]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}