In [1]:
import pymongo

# creating client
# providing (protocol://Ip address:port number)

client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

# creating database/connecting to database
mydb = client['Employee']

In [5]:
# Creating collection object

empinfo = mydb.studentsinfo

In [6]:
records = [{'firstname':'Mahendhar','lastname':'Naik','department':'Analytics','qualification':'BE','age':29},
   {
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
         'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        }      
    ]

In [7]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('66fba17deea861d993ba9c36'), ObjectId('66fba17deea861d993ba9c37'), ObjectId('66fba17deea861d993ba9c38'), ObjectId('66fba17deea861d993ba9c39'), ObjectId('66fba17deea861d993ba9c3a')], acknowledged=True)

##### Querying Records

In [8]:
#Simple way of querying

# ---> Finding first document inside a collection
# Select * from empinfo
empinfo.find_one()

{'_id': ObjectId('66fba17deea861d993ba9c36'),
 'firstname': 'Mahendhar',
 'lastname': 'Naik',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 29}

In [9]:
#Finding all records
empinfo.find()

In [10]:
#Using for loop
for record in empinfo.find():
    print(record)

{'_id': ObjectId('66fba17deea861d993ba9c36'), 'firstname': 'Mahendhar', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66fba17deea861d993ba9c37'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('66fba17deea861d993ba9c38'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('66fba17deea861d993ba9c39'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('66fba17deea861d993ba9c3a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [11]:
# Query the Json Documents based on equality conditions

# select * from emp where firstname=krish

for rec in empinfo.find({"firstname":"John"}):
    print(rec)

{'_id': ObjectId('66fba17deea861d993ba9c37'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

##### IN operator

In [12]:
## Query documents using query operations($in,$lt,$gt)

# select * from emp where qualification in(phd,master)

for rec in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(rec)

{'_id': ObjectId('66fba17deea861d993ba9c39'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('66fba17deea861d993ba9c3a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

##### Greater than & Less than

In [13]:
## And & Query operators

# select * from emp where qualification=masters and age<35

for record in empinfo.find({'qualification':'master',"age":{'$lt':35}}):
    print(record)

{'_id': ObjectId('66fba17deea861d993ba9c3a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [14]:
## OR operators

# select * from emp where qualification=masters or firstname=Mahendhar

for record in empinfo.find({'$or':[{"firstname":"Mahendhar"},{"qualification":"masters"}]}):
    print(record)

{'_id': ObjectId('66fba17deea861d993ba9c36'), 'firstname': 'Mahendhar', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('66fba17deea861d993ba9c38'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

In [15]:
## Creating another collection

inventory=mydb.inventory

In [16]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

InsertManyResult([ObjectId('66fbbeb6eea861d993ba9c3b'), ObjectId('66fbbeb6eea861d993ba9c3c'), ObjectId('66fbbeb6eea861d993ba9c3d'), ObjectId('66fbbeb6eea861d993ba9c3e'), ObjectId('66fbbeb6eea861d993ba9c3f')], acknowledged=True)

##### Nested Document

In [17]:
for rec in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(rec)

{'_id': ObjectId('66fbbeb6eea861d993ba9c3b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

##### Update_one & update_many & Replace_one

In [18]:
# Inserting some more records

inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

InsertManyResult([ObjectId('66fbc126eea861d993ba9c40'), ObjectId('66fbc126eea861d993ba9c41'), ObjectId('66fbc126eea861d993ba9c42'), ObjectId('66fbc126eea861d993ba9c43'), ObjectId('66fbc126eea861d993ba9c44'), ObjectId('66fbc126eea861d993ba9c45'), ObjectId('66fbc126eea861d993ba9c46'), ObjectId('66fbc126eea861d993ba9c47'), ObjectId('66fbc126eea861d993ba9c48'), ObjectId('66fbc126eea861d993ba9c49')], acknowledged=True)

In [19]:
for rec in inventory.find():
    print(rec)

{'_id': ObjectId('66fbbeb6eea861d993ba9c3b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3d'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c40'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c41'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c42'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c43'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('66fbc126eea861d993ba9c44'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('66fbc126eea861d993ba9c45'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('66fbc126eea861d993ba9c46'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('66fbc126eea861d993ba9c47'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c48'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c49'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [23]:
## updating perticular field

inventory.update_one(
    {"item":"sketch pad"},
    {"$set":{"size.uom":"m","status":"P"},
    "$currentDate":{"lastModified":True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [24]:
for rec in inventory.find():
    print(rec)

{'_id': ObjectId('66fbbeb6eea861d993ba9c3b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3d'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c40'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c41'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c42'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c43'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('66fbc126eea861d993ba9c44'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('66fbc126eea861d993ba9c45'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('66fbc126eea861d993ba9c46'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('66fbc126eea861d993ba9c47'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c48'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c49'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'm'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 41, 19, 380000)}

In [25]:
# updating many based on condition

inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

UpdateResult({'n': 5, 'nModified': 5, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [26]:
# Replacing a record 

# Replacing will do entire record modification

inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [27]:
for rec in inventory.find():
    print(rec)

{'_id': ObjectId('66fbbeb6eea861d993ba9c3b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 45, 47, 979000)}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3c'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3d'), 'item': 'paper', 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3e'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('66fbbeb6eea861d993ba9c3f'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 45, 47, 979000)}
{'_id': ObjectId('66fbc126eea861d993ba9c40'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c41'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 45, 47, 979000)}
{'_id': ObjectId('66fbc126eea861d993ba9c42'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c43'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 45, 47, 979000)}
{'_id': ObjectId('66fbc126eea861d993ba9c44'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('66fbc126eea861d993ba9c45'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('66fbc126eea861d993ba9c46'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('66fbc126eea861d993ba9c47'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 45, 47, 980000)}
{'_id': ObjectId('66fbc126eea861d993ba9c48'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('66fbc126eea861d993ba9c49'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'm'}, 'status': 'P', 'lastModified': datetime.datetime(2024, 10, 1, 9, 41, 19, 380000)}